---
BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 2
TabWidth: 2
ColumnLimit: 0
AlignAfterOpenBracket: Align
BreakBeforeBraces: Attach
ContinuationIndentWidth: 2
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
