---
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 80
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
BreakBeforeBraces: Attach
ContinuationIndentWidth: 2
PointerAlignment: Left